## Visualization of La Palma Earthquake Data

Using the subset of IGN data specific to La Palma. This subset was prepared using `screening.ipynb` and saved to `lapalma.csv`.

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set_theme(style="whitegrid")

In [11]:
df = pd.read_csv('./lapalma.csv')
df.head()

,Event,Date,UTC time,Local time(*),Latitude,Longitude,Depth(km),Magnitude,Mag. type,Max. int,Region,More Info
0,es2021wocei,2021-11-17,17:08:10,17:08:10,28.5661,-17.8336,11.0,3.1,mbLg,NaN,SW VILLA DE MAZO.ILP,NaN
1,es2021wobpr,2021-11-17,16:50:53,16:50:53,28.6058,-17.8549,37.0,2.9,mbLg,NaN,SE EL PASO.ILP,NaN
2,es2021wobfz,2021-11-17,16:39:11,16:39:11,28.5619,-17.8304,12.0,2.8,mbLg,NaN,NE FUENCALIENTE DE LA PALMA.IL,NaN
3,es2021wobep,2021-11-17,16:38:12,16:38:12,28.5580,-17.8386,13.0,3.1,mbLg,NaN,NE FUENCALIENTE DE LA PALMA.IL,NaN
4,es2021woazj,2021-11-17,16:32:05,16:32:05,28.5542,-17.8353,14.0,3.0,mbLg,NaN,NE FUENCALIENTE DE LA PALMA.IL,NaN

In [12]:
df.describe()

          Latitude    Longitude    Depth(km)    Magnitude  More Info
count  6195.000000  6195.000000  6195.000000  6195.000000        0.0
mean     28.566620   -17.842178    12.900630     2.719435        NaN
std       0.015506     0.021570     7.297977     0.500897        NaN
min      28.477500   -17.969500     0.000000     1.500000        NaN
25%      28.558500   -17.848950    10.100000     2.500000        NaN
50%      28.563500   -17.838000    11.100000     2.700000        NaN
75%      28.570900   -17.830400    13.100000     3.000000        NaN
max      28.697000   -17.757000    42.200000     5.000000        NaN

In [13]:
df['Depth'] = 'Crustal (<20km)'
df.loc[df['Depth(km)'] >= 20, 'Depth'] = 'Mantle (>20km)'